<form action="/posts/{{_id}}/update" method="post">
  <input type="text" name="title" value="{{title}}">
  <input type="text" name="author" value="{{author}}">
  <input type="text" name="text" value="{{text}}">
  <input type="hidden" name="comments" value="{{comments}}">
  <input type="submit" value="update post">
</form>
