<div class="show">
  <a href="/">back to all posts</a>
  <h2>{{post.title}}</h2>
  <h3>{{post.author}}</h3>
  <p>
    {{post.text}}
  </p>
  <a href="/posts/{{post._id}}/edit">
    <button type="button" name="button">edit post</button>
  </a>
  <h3>Comments</h3>
  {{#each comments}}
  <li>{{comment}} —{{commentAuthor}}</li>
  <form action="/posts/{{../post._id}}/comments/{{_id}}/delete" method="post">
    <input type="hidden" name="postId" value="{{../post._id}}">
    <input type="submit" value="delete">
  </form>
  {{/each}}
  <h3>Add a comment:</h3>
  <form action="/posts/{{post._id}}/comments" method="post">
    <input type="text" name="commentAuthor" placeholder="name">
    <input type="text" name="comment" placeholder="comment">
    <input type="submit" value="add comment">
    <input type="hidden" name="postId" value="{{post._id}}">
  </form>

</div>
